# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
myenv/

# Django-specific
*.sqlite3
db.sqlite3

# Static files (collected for production)
staticfiles/

# Environment variables
.env

# VS Code / IDE
.vscode/
.idea/

# Mac/Linux/Windows system files
.DS_Store
Thumbs.db

.env
